<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="saperdun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <saperdun.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>DarkTheme</value>
            </setting>
            <setting name="SpeedRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZakharPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkerPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EvgenPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LehaPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastLoginDate" serializeAs="String">
                <value>1999-12-19</value>
            </setting>
            <setting name="LoginStreak" serializeAs="String">
                <value>0</value>
            </setting>
        </saperdun.Properties.Settings>
    </userSettings>
</configuration>